
body
{
  background: #f6f0e2;
}


.public-header1
{
   height: 10px;
   width: 1200px;
   border-bottom:2px solid #968051;
   margin: 0 auto;
   background: #aa915c;

}

.public-header2
{
   height: 102px;
   width: 1200px;
   border-bottom:2px solid #c6a661;
   margin: 0 auto;
   background: #e8c271;
}
.public-header2 .header-logo
{

  margin-top: 34px;
  width: 278px;
  height: 35px;
    float: left;
  background: url("../ima/header-logo.png");
}

.public-header2 .header-nav
{

  height: 0;
  margin-top: 50px;
  width: 554px;
  height: 54px;
  float: right;
  font-size: 30px;
  background: url("../ima/header-nav.png");

}
.public-header2 .header-nav .item
{

  margin-top: 10px;
  margin-left: 44px;
  list-style: none;
    float: left;

}
.public-header2 .header-nav a
{
    line-height: 30px;
    color:#FFFFFF;
}

.public-header2 .header-nav ul
{
   list-style: none;
}
.public-container
{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width: 942px;
}

.public-footer1
{
  height: 252px;
  border-bottom:2px solid #918161;
  background: #d8c293;

}
.public-footer1 .footer-img1
{
  position: absolute;
  margin-top: 24px;
  margin-left:5px;
  width: 300px;
  height: 206px;
  background: url("../ima/footer-ima1.png");
}

.public-footer1 .footer-img2
{
  position: absolute;
  margin-top: 19px;
  margin-left:320px;
  width: 294px;
  height: 212px;
  background: url("../ima/footer-ima2.png");
}
.public-footer1 .footer-img3
{
  position: absolute;
  margin-top: 24px;
  margin-left:636px;
  width: 300px;
  height: 206px;
  background: url("../ima/footer-ima3.png");
}
.public-footer2
{
  height: 40px;
  background: #b3a078;
  position: relative;
}

.public-footer2 .footer-logo
{
  width: 139px;
  height: 19px;
  background: url("../ima/footer-logo.png");
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
